textarea.form-control {
    width: 100% !important;
}

@media (max-width: 870px) {
    .form-control {
       font-size: 0.6rem ;
        
    }  
}

@media (max-width: 350px) {
    #check {
        font-size: 0.8rem;
    }
    #form_2 {
        padding-left: 0;
    }
}