


#header {
    
    padding: 40px 20px 40px 20px;
    background: rgba(223, 106, 11, 0.774);
}
#sobre {
    background: rgba(243, 183, 52, 0.87) ;
    padding-bottom: 30px;
}

.nav-link  {
    color: black;
}

.card-body {
    height: 214px;
    
} 

.card-text {
    text-align: center;
}

.card-title , p {
    color: rgb(212, 4, 4);
}

#cont {
    color: black;

}
.card {
    margin: 5px;
}
section {
    padding-bottom: 4rem;
    padding-top: 4rem;

}

.modal-body {
    border-top: 1px solid #dee2e6;
}



#sobre-1 {
   margin-top: 30px;
    margin-bottom: 0px;
    padding-bottom: 10px;

}


input,
textarea {
    margin-bottom: 1rem;
    padding-bottom: 10px;
}

#contato {
    background-color: rgba(216, 118, 37, 0.267);
}

#rd {
    padding: 0;
}

#rd1 {
    padding: 0 0 0 12px;
}

#rd2 {
    padding-right: 8px;
    
}

#rd3 {
    padding: 0 0 0 12px;
    margin-bottom: 12px;

}


@media (min-width: 980px) {
    .card {
        width: 32%; 
        float: left; 
        margin: 5px;
        
    }  
}